/*
Theme Name: FMBRZP Child
Theme URI: http://fmbrzp.local
Description: Tema filho institucional da Federação Mineira de Bocha Rafa, Zerbin e Petanca.
Author: FMBRZP
Version: 1.0.0
Template: astra
Text Domain: fmbrzp-child
*/